html
	head
		title Art Room
		include ../JADE-Bootstrap/_bootstrap
		include ../mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").
			function moveOn() {
				return true;
			}

	body.secret_mission
		p You flip the light switch. A singular spotlight shines directly on a portrait across the room. But it’s not just any portrait! It is a picture of you and the Commissioner! You smile as you remember the good time that was had of that moment captured forever, framed in all of its glory.

		p But you realize there is literally nothing else in the room. Where is the safe that the message is in? Below the portrait is the caption that reads: 

		p “This was a fun time. There is not a safe behind this picture.” 

		p You lift the portrait off of the wall and the blurb lied! There is a safe behind the picture! *Gasp* 
		br

		p Well turns out safe was a generous term for just a locker with a normal circular combination lock on it. But what’s the combination? You need three numbers in the right order.
		br

		p You replace the picture, take a closer look, and think, “Hmmm….”

		
		form(action='/secret_mission/picture', method="POST")
			input.hidden(type="hidden", name="name", value=name)
			div(align="center")
				button.navigate(onclick="return moveOn()") Examine the picture
