html
	head
		title Banter
		include ../JADE-Bootstrap/_bootstrap
		include ../mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").
			function moveOn() {
				return true;
			}
	body.secret_mission
		p “How am I supposed to guess 3(!) passwords?!” you gripe aloud as you walk down the street now looking for another way in. From an alley across the street you hear a hiss, “Do you have a spiritual background?” You cautiously investigate, not believing what you just heard.

		p  3 small, cloaked figures emerge from the shadows. Keeping your distance, you say, “What did you say??” They all hiss in unison, “Do you have a spiritual background?” 

		p You reply, “What kind of question is that??” “It’s a spiritual conversation starter.” 

		p “Well, you didn’t use it right. You don’t just walk up to a stranger and ask someone that!” 

		p “Well it worked didn’t it? We’re having a conversation now…” 

		p You shrug your shoulders and ask what they want. One replies, “We are the Tweedle brothers. We each know one of the passwords to get in, but we only speak in riddles, sarcasm, puns, and Christian jargon.” 

		p “Oh! Oh...” you sigh.

		p “Well don’t just sit there and….tweedle your thumbs! Talk to us!” one shouts as they all chuckle to themselves. You roll your eyes. You hope you don’t have to talk to them for long. The dryness of their humor is already making you thirsty.

		form(action='/secret_mission/the_tweedles', method="POST")
			input.hidden(type="hidden", name="name", value=name)
			div(align="center")
				button.navigate(onclick="return moveOn()") Talk to the Tweedles