html
	head
		title Friendship Wing
		include ../JADE-Bootstrap/_bootstrap
		include ../mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").
			function moveOn() {
				return true;
			}
	body.secret_mission
		p It’s a foggy and chilly night. A 1999 gray Honda Odyssey drops you off in front of the Friendship Wing of the Commissioner’s estate. It’s not terribly impressive, at least not compared to the Fantasy Sports Wing. A modified flag that’s half China-half Philippines waves atop a green single story building that sits flush against a large brick wall that marks the outer boundaries of the estate. The only way in is through the door of the building. “Get in, open the safe, and that’s it,” you think. If only you knew that would be all just wishful thinking…

		
		form(action='/secret_mission/front_door', method="POST")
			input.hidden(type="hidden", name="name", value=name)
			div(align="center")
				button.navigate(onclick="return moveOn()") Approach the door