html
	head
		title Front Door
		include ../JADE-Bootstrap/_bootstrap
		include ../mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").
			function moveOn() {
				return true;
			}
	body.secret_mission
		p You try the door. Locked. You jiggle it again to no avail. You check under the doormat. Nope. 
		br

		p “Crap.” You hope the wing isn’t occupied by Div Force. Just then a piece of the door slides away revealing 2 spectacled eyes staring at you from a slit. A deep, masculine voice booms, “What’s the password?” You jump a little on the inside, but keep it together and quickly think of a Plan B.
		br 

		p “I’m here to take over for the next watch shift for you.” The voice, not as boomy, but more apologetic this time says, “Oh. Sorry. But even if you are Div Force, I can’t let you in without the passwords. Believe me, I want to go home and play Fifa as much as the next guy, but rules are rules.” 
		br

		p You inquire, “Did you say passwords? As in multiple?” “Yeah, go back and ask for them. The password consists of 3 words.” You disguise the hopelessness with a happy, “Ok thanks! See you soon!”
		br

		p "You too! I mean ok! Ugghh." Awkward.


		form(action='/secret_mission/banter', method="POST")
			input.hidden(type="hidden", name="name", value=name)
			div(align="center")
				button.navigate(onclick="return moveOn()") Look for another way in