html
	head
		title Welcome
		include ../JADE-Bootstrap/_bootstrap
		include ../mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").
			function checkFunction() {

				var name_list = ["K-Dawg", "Nate the Great", "Thomas Pyro", "Coach Bkuh", "Big Apostle", "Baker Brandis", "Generic White Guy Name", "Wes"];

				var name_input = document.getElementById('name_input').value;
				console.log(name_input)

				if (name_list.includes(name_input)) {
					alert("Welcome, " + name_input + "!");

					return true;
				}
				else {
					document.getElementById("error").innerHTML = "Not an agent. Enter your agent name exactly as given.";
					return false;
				}
			}

	body.secret_mission
		h2 Login to private email server
		h4 (It's ok. We're not politicians.)
		
		form(action="/secret_mission/email", method="POST", onsubmit="return checkFunction()")
			p Agent Name:
			input.one_line(type="text", id="name_input", name="name", placeholder=message) 
			span.one_line
				p#error
			
			input.next_line(type="submit" value="Enter")