html
	head
		title Instructions
		include ../JADE-Bootstrap/_bootstrap
		include ../mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").
			function moveOn() {
				return true;
			}
	body.secret_mission
		h2 You are now starting Wes' Secret Mission!

		p This consists of a series of puzzles and codes that you will need to solve to figure out the Secret Message. You will work together with your fellow Agents to help each other reach the goal.
		br

		p A few general guidelines:
		ul
			li Completing the mission requires teamwork and communication, so use the Group Chat to ask each other questions, pass information, and build relationships with one another.

			li There is a "goal" for making it to the end, but it's not a race for one person to do as fast as they can. More important than how quickly you solve each challenge is getting participation and input from all agents, respecting those who want help and those who don't (until it's necessary).

			li As some of you may have found out when logging in, you will need to enter information EXACTLY as is stated to move on. This includes, punctuation, capitalization and spacing (no trailing spaces on the end!).

			li If you have any questions or need clarification or if the website goes down, please feel free to ask the Commissioner.


		br
		p I tried to make it all actually challenging, so don't expect to get through it in 15 minutes. It shouldn’t take more than like a couple of hours of focused thinking though. You will have to work at it, but there are 7 of you so I hope you have the resources to finish in a reasonable time! There is no time limit or immediate urgency, but I will just say I think you'd want to get to the end to learn what's next.


		form(action='/secret_mission/friendship_wing', method="POST")
			input.hidden(type="hidden", name="name", value=name)
			div(align="center")
				button.navigate(onclick="return moveOn()") Let's go!