html
	head
		title Password Door
		include ../JADE-Bootstrap/_bootstrap
		include ../mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").
			function checkFunction() {

				var password1 = document.getElementById('password1').value;
				var password2 = document.getElementById('password2').value;
				var password3 = document.getElementById('password3').value;

				if (password1 === "Rat") {
					if (password2 === "W") {
						if (password3 === "South Sudan") {
							document.password.action = "/secret_mission/hallway";
						}
						else {
							document.password.action = "/secret_mission/pie";
						}
					}
					else {
						document.password.action = "/secret_mission/pie";

					}
				}
				else {
					document.password.action = "/secret_mission/pie";

				}

				return true;
			}

	body.secret_mission
		p You confidently walk up to the door and do the “Knock-Knock, Knock-Knock-Knock” from Frozen. The bouncer open the slit.

		p “What’s the password?”
		br
				
		div.threeinoneline
		
			form(name="password", method="POST", onsubmit="return checkFunction()")
				input.hidden(type="hidden", name="name", value=name)
				h4 Enter passwords:
				input.one_line(type="text", id="password1", name="password1") 
				input.one_line(type="text", id="password2", name="password2")
				input.one_line(type="text", id="password3", name="password3")
				
				input.next_line(type="submit" value="Enter")
