html
	head
		title Punch!
		include ../JADE-Bootstrap/_bootstrap
		include ../mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").
			function moveOn() {
				return true;
			}
	body.secret_mission
		p “He doesn’t look so tough,” you think. So you wind up and...
		br

		p POW!
		br
		
		p Punch him in the face. And boy were you right. One punch (a glancing one at that) and he’s knocked out. You open the door with your name on it…
		
		form(action='/secret_mission/art_room', method="POST")
			input.hidden(type="hidden", name="name", value=name)
			div(align="center")
				button.navigate(onclick="return moveOn()") Go into the room
