html
	head
		title Secret Message
		include ../JADE-Bootstrap/_bootstrap
		include ../mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").
			function moveOn() {
				return true;
			}
	body.secret_message
		p The door is unlocked! You peer inside and it’s dark. At the ready for hand-to-hand combat at any moment, you flip the lights on and… it’s empty. And there is a desk! With a monitor! And...also a bed? It looks like the Commissioner’s Office Wing is also his Bedroom Wing. 
		br

		p Anyways, you sit down and carefully pull the message out of your pocket and slowly unravel it. 
		br

		p What?!?! It’s gibberish! It’s the last challenge. Can you decipher the message?
		br
		br

		if name === "K-Dawg"
			p.letter Dear Kevin Yen,

			p.letter
				u 
					strong First part
			p.letter T nlxp zfe zq zctpyeletzy htes 2 qctpyod ylxpo Vpgty. Zyp t ypgpc elwvpo ez lqepc l xzyes. Esp zespc t wtgpo htes qzc 3 jplcd. Eslyvqfw qzc Vpgty Nstlz! IO Qzc cplw eszfrs, jzf xzcp esly lyjzyp pwdp (zespc esly Vpcpy, dsp ozpdye nzfye), dslapo lyo xlop xj nzwwprp jplcd esp mpde espj nzfwo slgp mppy. T nzfwoye slgp ldvpo qzc l mpeepc czzxxlep lyo qctpyo ez delj fa wlep htes, awlj gtopz rlxpd htes, npwpmclep lyo olynp htes, lyo ufde mp zfc cplw, hptco, nzxqzcelmwp dpwgpd lczfyo plns zespc lww esp etxp htes. Xtdd jzf lyo hlenstyr jzf dwppa!

			p.letter
				u 
					strong Last part
			p.letter Xnt zqd zm zvdrnld eqhdmc, z khedshld nmd zs sgzs. Hc ad gnmnqdc sn gzud xnt ad zm hmsdfqzk ozqs ne sghr rodbhzk czx. Vhkk xnt ad nmd ne lx fqnnlrldm?

		else if name === "Coach Bkuh"
			p.letter Dear Byan Kuh,

			p.letter 
				u 
					strong First part
			p Htqo vjg oqogpv k ogv cpf uvctvgf igvvkpi vq mpqy aqw, kxg cnycau (ecuwcnna) eqpukfgtgf aqw vq dg vjg dtqvjgt k pgxgt jcf. Yjcv ctg vjg qffu vq hkpf cpqvjgt okzgf Cukcp Cogtkecp ocp yjq ku cu fgnkdgtcvg cpf vjqwijvhwn, nqxgu urqtvu (gurgekcnna dcugdcnn), uvtcvgia dqctf icogu, fqkpi vjg nkvvng vjkpiu dgjkpf vjg uegpgu, cpf hqnnqykpi Lguwu cu owej cu k fq. Ko vjcpmhwn hqt aqwt eqpvkpwgf rtgugpeg kp oa nkhg jgtg kp Qcmncpf cpf kp vjg hwvwtg vqq!

			p.letter 
				u 
					strong Last part
			p.letter Jzf lcp ly lhpdzxp qctpyo, l wtqpetxp zyp le esle. To mp szyzcpo ez slgp jzf mp ly tyeprclw alce zq estd dapntlw olj. Htww jzf mp zyp zq xj rczzxdxpy?

		else if name === "Thomas Heffernos"
			p.letter Dear Jefferson Pierro,

			p.letter 
				u 
					strong First part
			p.letter Iye uxyg Qyn rkc dy rkfo k coxco yp rewyb grox ro lbsxqc dro dgy lsqqocd tyuoc sx dro gybvn dyqodrob exnob yxo byyp. S kw cy drkxupev dy rkfo iye robo. (Kxn sw cebo iye poov dro ckwo gki dy k noqboo.) Iye kzzbomskdo wi tyuoc kxn uooz wo ckxo. Qoddsxq dy uxyg iye kxn iyeb “qbokd zobcyxkvsdi”, rewyb, cdybi, ohzobsoxmoc, kxn zobczomdsfo kvv grsvo crkbsxq vspo kxn wkusxq wowybsoc gsdr iye rkc dbevi loox yxo yp dro wycd vspo-qsfsxq kczomdc yp dro sxdobxcrsz/dro zkcd iokb.

			p.letter 
				u 
					strong Last part
			p.letter Oek qhu qd qmuiecu vhyudt, q byvujycu edu qj jxqj. Yt ru xedehut je xqlu oek ru qd ydjuwhqb fqhj ev jxyi ifusyqb tqo. Mybb oek ru edu ev co wheecicud?

		else if name === "Big Apostle"
			p.letter Dear Joshua Apostol,

			p.letter 
				u 
					strong First part
			p.letter Lsq! S ryzo iyeb kqoxd xkwo wkuoc coxco rkrk. S kzzbomskdo dro myxcdkxd zbocoxmo iyefo loox sx wi vspo kxn kvgkic losxq cywoyxo sfo vyyuon ez dy, psbcd kc wi lsq, led cdsvv csxmo drox dyy. S knwsbo iyeb klsvsdi dy ryxocdvi knwsd grkd iye nyxd uxyg kxn iyeb gokuxoccoc kxn gybu yx drow. Kxn xydrsxq lokdc rkxqsxq yed, zvkisxq qkwoc, vkeqrsxq, kxn dkvusxq czybdc, bokv yb pkxdkci gsdr iye.

			p.letter 
				u 
					strong Last part
			p.letter Zpv bsf bo bxftpnf gsjfoe, b mjgfujnf pof bu uibu. Je cf ipopsfe up ibwf zpv cf bo joufhsbm qbsu pg uijt tqfdjbm ebz. Xjmm zpv cf pof pg nz hsppntnfo?

		else if name === "Nate the Great"
			p.letter Dear Nathan Wong,

			p.letter 
				u 
					strong First part
			p.letter Msg, w qvccgs mci. Mcijs pssb hvsfs hvs kvczs kom kwhv as (gwbqs qczzsus obmkomg). Sjsb as hfmwbu hc yssd o gsqfsh fszohwcbgvwd tfca sjsfmcbs wbqzirwbu mci, bcf mci zsojwbu voztkom oqfcgg hvs kcfzr (hvciuv hc ps towf w rwr zsojs voztkom oqfcgg hvs ghohs), vog cbzm aors cif tfwsbrgvwd ghfcbusf. Ozhvciuv whg obbcmwbu 92.8% ct hvs hwas, w oddfsqwohs obr jozis hvs kom mci qvozzsbus obr digv as hc hvwby obr oqh cih ct am qcatcfh ncbs. Ksjs aors o zch ct asacfwsg ozfsorm obr wa zccywbu tcfkofr hc ozz hvs aobm acfs ks kwzz aoys wb hvs tihifs.

			p.letter 
				u 
					strong Last part
			p.letter Vlr xob xk xtbpljb cofbka, x ifcbqfjb lkb xq qexq. Fa yb elkloba ql exsb vlr yb xk fkqbdoxi mxoq lc qefp pmbzfxi axv. Tfii vlr yb jv ybpq jxk?

		else if name === "Generic White Guy Name"
			p.letter Dear Michael Jones,

			p.letter 
				u 
					strong First part
			p.letter Gehgu vf, v qvqa’g ernyyl yvxr lbh jura v svefg zrg lbh. Gbb ybhq, whfg lryyvat “Lrnu Fvkgu!”, orvat gur svefg gb ibyhagrre sbe rirelguvat, naq orvat nffbpvngrq jvgu (v qvqag fnl cneg bs!) gur Fvkgu Pyvdhr. Ohg gung jnf serfuzra lrne orsber v ernyyl xarj lbh. Vz ernyyl tynq gb unir tbggra gb xabj lbh naq frr lbhe urneg sbe bguref. V nqzver lbhe njnerarff bs “jubf va gur ebbz”, fbpvny whfgvpr vffhrf, naq ubj lbh pna hfr lbhe cbfvgvba naq cevivyrtr gb oevat Tbqf Xvatqbz urer abj. Cyhf lbher shaal, xrrc vg erny, yvxr cynlvat tnzrf naq vz nyjnlf unccvre jura vz nebhaq lbh.

			p.letter 
				u 
					strong Last part
			p.letter Iye kbo kx kgocywo pbsoxn, k vspodswo yxo kd drkd. Sn lo ryxybon dy rkfo iye lo kx sxdoqbkv zkbd yp drsc czomskv nki. Gsvv iye lo yxo yp wi qbyywcwox?

		else if name === "Coffee Meets Brandon"
			p.letter Dear Brandon Lee,

			p.letter 
				u 
					strong First part
			p.letter K yknn cfokv k ycu c nkvvng eqphwugf yjgp aqw fkfpv tgogodgt oa pcog chvgt nkmg yjqng uocnn itqwru vqigvjgt cpf dqa jcxg yg eqog c nqpi yca ukpeg vjgp. Aqw ctg qpg qh vjg hgy yjqug jwoqt k cnycau crrtgekcvg cpf tgurgev cpf yknn dwtuv qwv ncwijkpi vq qhvgp. K yknn cnycau vtgcuwtg Vjg Cfxgpvwtgu qh Ygunga Ejkrgeq icog. Kvu qpg qh vjg dguv dktvjfca ikhvu qh oa nkhg. (Cpf agu, vjku icog ku oqfgngf chvgt aqwtu).

			p.letter 
				u 
					strong Last part
			p.letter Kag mdq mz miqeayq rduqzp, m xurqfuyq azq mf ftmf. Up nq tazadqp fa tmhq kag nq mz uzfqsdmx bmdf ar ftue ebqoumx pmk. Iuxx kag nq azq ar yk sdaayeyqz?


		
		form(action='/secret_mission/solve', method="POST")
			input.hidden(type="hidden", name="name", value=name)
			div(align="center")
				button.navigate(onclick="return moveOn()") I'd like to solve the puzzle