html
	head
		title Trap!
		include ../JADE-Bootstrap/_bootstrap
		include ../mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").
			function moveOn() {
				return true;
			}
	body.secret_mission
		p “Wee-Woo! Wee-Woo! Wee-Woo!” An alarm goes off! Oh no! You fell for the most simple booby trap in the book: the Indiana-Jones-replace-the-object-with-another-object-of-the-same-weight trap! 

		p You run out into the hallway expecting to see a giant rock, but instead you see at the other end a lean, athletic, menacing figure with a slick buzzcut, baseball bat, and a football looking right at you. What do you do?
		
		form(action='/secret_mission/fight', method="POST")
			input.hidden(type="hidden", name="name", value=name)
			div(align="center")
				button.navigate(onclick="return moveOn()") Fight him!

		form(action='/secret_mission/run', method="POST")
			input.hidden(type="hidden", name="name", value=name)
			div(align="center")
				button.navigate(onclick="return moveOn()") Run!			