html
	head
		title= "Acquisition Value Home Page"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/profile_home_page' class = 'navbar') Owner Profiles
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/stats_home_page' class = 'navbar') Roster Stats
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/origin_home_page' class = 'navbar') Origin Analysis
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach 
				a(href= '/popular_home_page' class = 'navbar') Most Popular Players
				//a(href= '/future_draft_boards_home_page' class = 'navbar') Future Draft Boards
				
		h2 Acquisition Value Analysis
		h4 Who was the best value draft pick? The best value free agent? Who maximized value?

		ul Seasons List
			li Football 2015
				p No acquisition value data for Football 2015. Sorry!
				
			li Basketball 2016
				ul
					li Total: 
						a(href= '/owner/all/basketball/acquisitions/2016') Total League Combined
					li 
						a(href= '/owner/1/basketball/acquisitions/2016') Marcus Lam
					li 
						a(href= '/owner/2/basketball/acquisitions/2016') Wesley Chipeco
					li 
						a(href= '/owner/3/basketball/acquisitions/2016') Kevin Okamoto, Joshua Liu
					li 
						a(href= '/owner/4/basketball/acquisitions/2016') Bryan Kuh
					li 
						a(href= '/owner/5/basketball/acquisitions/2016') Joshua Apostol
					li 
						a(href= '/owner/6/basketball/acquisitions/2016') Joshua Aguirre
					li
						a(href= '/owner/7/basketball/acquisitions/2016') Tim Fong
					li
						a(href= '/owner/8/basketball/acquisitions/2016') Ryan Tomimitsu
					li
						a(href= '/owner/9/basketball/acquisitions/2016') Nick Wang, Nick Hom
					li
						a(href= '/owner/10/basketball/acquisitions/2016') Wayne Fong
						
			li Baseball 2016
				ul 
					li 
						a(href= '/owner/all/baseball/acquisitions/2016') Total League Combined
					li
						a(href= '/owner/1/baseball/acquisitions/2016') Marcus Lam
					li
						a(href= '/owner/2/baseball/acquisitions/2016') Wesley Chipeco
					li
						a(href= '/owner/3/baseball/acquisitions/2016') Kevin Okamoto, Joshua Liu
					li
						a(href= '/owner/4/baseball/acquisitions/2016') Bryan Kuh
					li
						a(href= '/owner/5/baseball/acquisitions/2016') Joshua Apostol
					li
						a(href= '/owner/6/baseball/acquisitions/2016') Joshua Aguirre
					li
						a(href= '/owner/7/baseball/acquisitions/2016') Tim Fong
					li
						a(href= '/owner/8/baseball/acquisitions/2016') Ryan Tomimitsu
					li
						a(href= '/owner/9/baseball/acquisitions/2016') Nick Wang, Nick Hom
					li
						a(href= '/owner/10/baseball/acquisitions/2016') Wayne Fong

			li Football 2016
				ul
					li Total: 
						a(href= '/owner/all/football/acquisitions/2016') Total League Combined
					li 
						a(href= '/owner/1/football/acquisitions/2016') Marcus Lam
					li 
						a(href= '/owner/2/football/acquisitions/2016') Wesley Chipeco
					li 
						a(href= '/owner/3/football/acquisitions/2016') Kevin Okamoto, Joshua Liu
					li 
						a(href= '/owner/4/football/acquisitions/2016') Bryan Kuh
					li 
						a(href= '/owner/5/football/acquisitions/2016') Joshua Apostol
					li 
						a(href= '/owner/6/football/acquisitions/2016') Joshua Aguirre
					li
						a(href= '/owner/7/football/acquisitions/2016') Tim Fong
					li
						a(href= '/owner/8/football/acquisitions/2016') Ryan Tomimitsu
					li
						a(href= '/owner/9/football/acquisitions/2016') Nick Wang, Nick Hom
					li
						a(href= '/owner/10/football/acquisitions/2016') Wayne Fong

			li Basketball 2017
				ul
					li Total: 
						a(href= '/owner/all/basketball/acquisitions/2017') Total League Combined
					li 
						a(href= '/owner/1/basketball/acquisitions/2017') Marcus Lam
					li 
						a(href= '/owner/2/basketball/acquisitions/2017') Wesley Chipeco
					li 
						a(href= '/owner/3/basketball/acquisitions/2017') Kevin Okamoto, Joshua Liu
					li 
						a(href= '/owner/4/basketball/acquisitions/2017') Bryan Kuh
					li 
						a(href= '/owner/5/basketball/acquisitions/2017') Joshua Apostol
					li 
						a(href= '/owner/6/basketball/acquisitions/2017') Joshua Aguirre
					li
						a(href= '/owner/7/basketball/acquisitions/2017') Tim Fong
					li
						a(href= '/owner/8/basketball/acquisitions/2017') Ryan Tomimitsu
					li
						a(href= '/owner/9/basketball/acquisitions/2017') Nick Wang, Nick Hom
					li
						a(href= '/owner/10/basketball/acquisitions/2017') Wayne Fong		
