html
	head
		title= "Future Draft Boards Home Page"
		link(rel="icon", type="image/x-icon", href="/images/trifectalogo.ico")
		include ./JADE-Bootstrap/_bootstrap
		include mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

	body
		header
			+headliner
		
		h2 Future Draft Boards
		h4 Check your draft picks. Did you trade any? Do you have any extras?

		ul Football
			li 
				a(href= '/future_draft_board/football/2017') 2017 Season

		ul Basketball
			li 
				a(href= '/future_draft_board/basketball/2018') 2018 Season

		ul Baseball
			li 
				a(href= '/future_draft_board/baseball/2018') 2018 Season

