html
	head
		title= "Owner 2 Owner Matchups"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/origin_home_page' class = 'navbar') Origin Analysis
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach  

		
		h2 Owner 2 Owner Matchup Records
		h4 Who do you dominate? At what sports? Which season? 

		ul Owner List
			li Marcus Lam
				ul
					li 
						a(href= '/owner/1/matchups/2015/2016') Trifecta Season 1: 2015-2016
					li 
						a(href= '/owner/1/matchups/2016/2017') Trifecta Season 2: 2016-2017	
					li
						a(href= '/owner/1/matchups/all') All-Time		

			li Wesley Chipeco
				ul
					li 
						a(href= '/owner/2/matchups/2015/2016') Trifecta Season 1: 2015-2016
					li 
						a(href= '/owner/2/matchups/2016/2017') Trifecta Season 2: 2016-2017
					li
						a(href= '/owner/2/matchups/all') All-Time						

			li Kevin Okamoto, Joshua Liu
				ul
					li 
						a(href= '/owner/3/matchups/2015/2016') Trifecta Season 1: 2015-2016
					li 
						a(href= '/owner/3/matchups/2016/2017') Trifecta Season 2: 2016-2017
					li
						a(href= '/owner/3/matchups/all') All-Time									

			li Bryan Kuh
				ul
					li 
						a(href= '/owner/4/matchups/2015/2016') Trifecta Season 1: 2015-2016
					li 
						a(href= '/owner/4/matchups/2016/2017') Trifecta Season 2: 2016-2017
					li
						a(href= '/owner/4/matchups/all') All-Time									

			li Joshua Apostol
				ul
					li 
						a(href= '/owner/5/matchups/2015/2016') Trifecta Season 1: 2015-2016
					li 
						a(href= '/owner/5/matchups/2016/2017') Trifecta Season 2: 2016-2017
					li
						a(href= '/owner/5/matchups/all') All-Time											

			li Joshua Aguirre
				ul
					li 
						a(href= '/owner/6/matchups/2015/2016') Trifecta Season 1: 2015-2016
					li 
						a(href= '/owner/6/matchups/2016/2017') Trifecta Season 2: 2016-2017			
					li
						a(href= '/owner/6/matchups/all') All-Time						

			li Tim Fong
				ul
					li 
						a(href= '/owner/7/matchups/2015/2016') Trifecta Season 1: 2015-2016
					li 
						a(href= '/owner/7/matchups/2016/2017') Trifecta Season 2: 2016-2017			
					li
						a(href= '/owner/7/matchups/all') All-Time						

			li Ryan Tomimitsu
				ul
					li 
						a(href= '/owner/8/matchups/2015/2016') Trifecta Season 1: 2015-2016
					li 
						a(href= '/owner/8/matchups/2016/2017') Trifecta Season 2: 2016-2017
					li
						a(href= '/owner/8/matchups/all') All-Time									

			li Nick Wang, Nick Hom
				ul
					li 
						a(href= '/owner/9/matchups/2015/2016') Trifecta Season 1: 2015-2016
					li 
						a(href= '/owner/9/matchups/2016/2017') Trifecta Season 2: 2016-2017
					li
						a(href= '/owner/9/matchups/all') All-Time									

			li Wayne Fong
				ul
					li 
						a(href= '/owner/10/matchups/2015/2016') Trifecta Season 1: 2015-2016
					li 
						a(href= '/owner/10/matchups/2016/2017') Trifecta Season 2: 2016-2017
					li
						a(href= '/owner/10/matchups/all') All-Time									
