html
	head
		title= "Profile Home Page"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/profile_home_page' class = 'navbar') Owner Profiles
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/stats_home_page' class = 'navbar') Roster Stats
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/origin_home_page' class = 'navbar') Origin Analysis
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach 
				a(href= '/popular_home_page' class = 'navbar') Most Popular Players
				//a(href= '/future_draft_boards_home_page' class = 'navbar') Future Draft Boards

		h2 Owner Profiles Home Page
		h4 Who are you really? Is your fantasy self better than your reality self?

		ul Marcus Lam
			li
				a(href= '/owner/1/profile/recap') Seasons Recap
			li
				a(href= '/owner/1/profile/trophy') Trophy Case

		ul Wesley Chipeco
			li
				a(href= '/owner/2/profile/recap') Seasons Recap
			li
				a(href= '/owner/2/profile/trophy') Trophy Case

		ul Kevin Okamoto, Joshua Liu
			li
				a(href= '/owner/3/profile/recap') Seasons Recap
			li
				a(href= '/owner/3/profile/trophy') Trophy Case

		ul Bryan Kuh
			li
				a(href= '/owner/4/profile/recap') Seasons Recap
			li
				a(href= '/owner/4/profile/trophy') Trophy Case

		ul Joshua Apostol
			li
				a(href= '/owner/5/profile/recap') Seasons Recap
			li
				a(href= '/owner/5/profile/trophy') Trophy Case

		ul Joshua Aguirre
			li
				a(href= '/owner/6/profile/recap') Seasons Recap
			li
				a(href= '/owner/6/profile/trophy') Trophy Case

		ul Tim Fong
			li
				a(href= '/owner/7/profile/recap') Seasons Recap
			li
				a(href= '/owner/7/profile/trophy') Trophy Case

		ul Ryan Tomimitsu
			li
				a(href= '/owner/8/profile/recap') Seasons Recap
			li
				a(href= '/owner/8/profile/trophy') Trophy Case

		ul Nick Wang, Nick Hom
			li
				a(href= '/owner/9/profile/recap') Seasons Recap
			li
				a(href= '/owner/9/profile/trophy') Trophy Case

		ul Wayne Fong
			li
				a(href= '/owner/10/profile/recap') Seasons Recap
			li
				a(href= '/owner/10/profile/trophy') Trophy Case


