html
	head
		title= "Profile Home Page"
		link(rel="icon", type="image/x-icon", href="/images/trifectalogo.ico")
		include ./JADE-Bootstrap/_bootstrap
		include mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").

			$(window).on('beforeunload', function() {
				$(".loader").fadeIn("slow");
				//console.log("UNLOAD");
			})

			$(window).load(function() {
				$(".loader").fadeOut("slow");
				//console.log("LOAD");
			})

	body
		div.loader
		header
			+headliner
					
		h2 Owner Profiles Home Page
		h4 Who are you really? Is your fantasy self better than your reality self?

		ul Marcus Lam
			li
				a(href= '/owner/1/profile/recap') Seasons Recap
			li
				a(href= '/owner/1/profile/trophy') Trophy Case

		ul Wesley Chipeco
			li
				a(href= '/owner/2/profile/recap') Seasons Recap
			li
				a(href= '/owner/2/profile/trophy') Trophy Case

		ul Kevin Okamoto, Joshua Liu
			li
				a(href= '/owner/3/profile/recap') Seasons Recap
			li
				a(href= '/owner/3/profile/trophy') Trophy Case

		ul Bryan Kuh
			li
				a(href= '/owner/4/profile/recap') Seasons Recap
			li
				a(href= '/owner/4/profile/trophy') Trophy Case

		ul Joshua Apostol
			li
				a(href= '/owner/5/profile/recap') Seasons Recap
			li
				a(href= '/owner/5/profile/trophy') Trophy Case

		ul Joshua Aguirre
			li
				a(href= '/owner/6/profile/recap') Seasons Recap
			li
				a(href= '/owner/6/profile/trophy') Trophy Case

		ul Tim Fong
			li
				a(href= '/owner/7/profile/recap') Seasons Recap
			li
				a(href= '/owner/7/profile/trophy') Trophy Case

		ul Ryan Tomimitsu
			li
				a(href= '/owner/8/profile/recap') Seasons Recap
			li
				a(href= '/owner/8/profile/trophy') Trophy Case

		ul Nick Wang, Nick Hom
			li
				a(href= '/owner/9/profile/recap') Seasons Recap
			li
				a(href= '/owner/9/profile/trophy') Trophy Case

		ul Wayne Fong
			li
				a(href= '/owner/10/profile/recap') Seasons Recap
			li
				a(href= '/owner/10/profile/trophy') Trophy Case


