html
	head
		title= "Roster Stats Home Page"
		include ./JADE-Bootstrap/_bootstrap
		include mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

	body
		header
			+headliner

									
		h2 Roster Stats
		h4 Who racked up the most stats for your team? Best in the league?

		ul Seasons List
			li Football 2015
				p No roster stats for Football 2015. Sorry!
				
			li Basketball 2016
				ul
					li Total: 
						a(href= '/owner/all/basketball/stats/2016') Total League Combined
					li 
						a(href= '/owner/1/basketball/stats/2016') Marcus Lam
					li 
						a(href= '/owner/2/basketball/stats/2016') Wesley Chipeco
					li 
						a(href= '/owner/3/basketball/stats/2016') Kevin Okamoto, Joshua Liu
					li 
						a(href= '/owner/4/basketball/stats/2016') Bryan Kuh
					li 
						a(href= '/owner/5/basketball/stats/2016') Joshua Apostol
					li 
						a(href= '/owner/6/basketball/stats/2016') Joshua Aguirre
					li
						a(href= '/owner/7/basketball/stats/2016') Tim Fong
					li
						a(href= '/owner/8/basketball/stats/2016') Ryan Tomimitsu
					li
						a(href= '/owner/9/basketball/stats/2016') Nick Wang, Nick Hom
					li
						a(href= '/owner/10/basketball/stats/2016') Wayne Fong		

			li Baseball 2016
				ul 
					li Total:
						a(href= '/owner/all/baseball/stats/2016') Total League Combined
					li
						a(href= '/owner/1/baseball/stats/2016') Marcus Lam
					li
						a(href= '/owner/2/baseball/stats/2016') Wesley Chipeco
					li
						a(href= '/owner/3/baseball/stats/2016') Kevin Okamoto, Joshua Liu
					li
						a(href= '/owner/4/baseball/stats/2016') Bryan Kuh
					li
						a(href= '/owner/5/baseball/stats/2016') Joshua Apostol
					li
						a(href= '/owner/6/baseball/stats/2016') Joshua Aguirre
					li
						a(href= '/owner/7/baseball/stats/2016') Tim Fong
					li
						a(href= '/owner/8/baseball/stats/2016') Ryan Tomimitsu
					li
						a(href= '/owner/9/baseball/stats/2016') Nick Wang, Nick Hom
					li
						a(href= '/owner/10/baseball/stats/2016') Wayne Fong

			li Football 2016
				ul
					li Total: 
						a(href= '/owner/all/football/stats/2016') Total League Combined
					li 
						a(href= '/owner/1/football/stats/2016') Marcus Lam
					li 
						a(href= '/owner/2/football/stats/2016') Wesley Chipeco
					li 
						a(href= '/owner/3/football/stats/2016') Kevin Okamoto, Joshua Liu
					li 
						a(href= '/owner/4/football/stats/2016') Bryan Kuh
					li 
						a(href= '/owner/5/football/stats/2016') Joshua Apostol
					li 
						a(href= '/owner/6/football/stats/2016') Joshua Aguirre
					li
						a(href= '/owner/7/football/stats/2016') Tim Fong
					li
						a(href= '/owner/8/football/stats/2016') Ryan Tomimitsu
					li
						a(href= '/owner/9/football/stats/2016') Nick Wang, Nick Hom
					li
						a(href= '/owner/10/football/stats/2016') Wayne Fong

			li Basketball 2017
				ul
					li Total: 
						a(href= '/owner/all/basketball/stats/2017') Total League Combined
					li 
						a(href= '/owner/1/basketball/stats/2017') Marcus Lam
					li 
						a(href= '/owner/2/basketball/stats/2017') Wesley Chipeco
					li 
						a(href= '/owner/3/basketball/stats/2017') Kevin Okamoto, Joshua Liu
					li 
						a(href= '/owner/4/basketball/stats/2017') Bryan Kuh
					li 
						a(href= '/owner/5/basketball/stats/2017') Joshua Apostol
					li 
						a(href= '/owner/6/basketball/stats/2017') Joshua Aguirre
					li
						a(href= '/owner/7/basketball/stats/2017') Tim Fong
					li
						a(href= '/owner/8/basketball/stats/2017') Ryan Tomimitsu
					li
						a(href= '/owner/9/basketball/stats/2017') Nick Wang, Nick Hom
					li
						a(href= '/owner/10/basketball/stats/2017') Wayne Fong		

			li Baseball 2017
				ul 
					li Total:
						a(href= '/owner/all/baseball/stats/2017') Total League Combined
					li
						a(href= '/owner/1/baseball/stats/2017') Marcus Lam
					li
						a(href= '/owner/2/baseball/stats/2017') Wesley Chipeco
					li
						a(href= '/owner/3/baseball/stats/2017') Kevin Okamoto, Joshua Liu
					li
						a(href= '/owner/4/baseball/stats/2017') Bryan Kuh
					li
						a(href= '/owner/5/baseball/stats/2017') Joshua Apostol
					li
						a(href= '/owner/6/baseball/stats/2017') Joshua Aguirre
					li
						a(href= '/owner/7/baseball/stats/2017') Tim Fong
					li
						a(href= '/owner/8/baseball/stats/2017') Ryan Tomimitsu
					li
						a(href= '/owner/9/baseball/stats/2017') Nick Wang, Nick Hom
					li
						a(href= '/owner/10/baseball/stats/2017') Wayne Fong