html
	head
		title= "Trade Analysis Home Page"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/profile_home_page' class = 'navbar') Owner Profiles
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/stats_home_page' class = 'navbar') Roster Stats
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/origin_home_page' class = 'navbar') Origin Analysis
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach 
				a(href= '/popular_home_page' class = 'navbar') Most Popular Players
				a(href= '/future_draft_boards_home_page' class = 'navbar') Future Draft Boards
				
		
		h2 Trade Analysis
		h4 Who did you rip off? Who scalped you? Who won the trade?

		ul Sport List
			li Football
				ul
					li Sorry no trade analysis for Football 2015
					li 
						a(href= '/football/trades/2016') 2016 Season

			li Basketball
				ul
					li No trades were made in Basketball 2016
					li
						a(href= '/basketball/trades/2017') 2017 Season						

			li Baseball
				ul
					li
						a(href= '/baseball/trades/2016') 2016 Season
