body {
	background-color: gray;
}

header {
	background-color: black;
}

table {
  border-collapse: separate;
  border-spacing: 25px 0;
  table-layout: fixed;
}

td {
  padding: 5px 0;
}

a {
	color: blue;
}

p {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 22px;
}


.secret_message {
	background-color: white;
	margin: 40px 15% 0 15%;
	line-height: 1.75;
}

.secret_mission ul {
	font-size: 18px;
}

.secret_message p.letter {
	font-size: 22px;
	font-family: "Courier", Arial, serif;
}

.secret_mission {
	background-color: white;
	margin: 40px 15% 0 15%;
	line-height: 1.75;
}

.hidden_one_line {
	display: none;
}

.one_line {
	display: inline-block;
}
.next_line {
	display: block;
}
#error {
	color: red;
}
input[type="text"] {
	width: 200px;
}

#correct {
	color: green;
}

#final_question {
	display: none;
}

#final_question_yes {
	display: none;
}

#final_question_no {
	display: none;
}

.table_mission {
	border-spacing: 0px;
	border-collapse: collapse;
}

.table_mission td {
	border: 1px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
}

.navigate {
	background: none;
	border: none;
	cursor: pointer;
	line-height: 10px;
	font-style: italic;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	margin-top: 20px;
	color:	#00BFFF;
}

.image_body {
	background-color: white;
}
.image_body p {
	margin: 40px 15% 0 15%;
	line-height: 1.75;	
}
#email {
	display: block;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 1900px;
	height: 550px;
}

.picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 40px 50px 50px 50px;
	margin-top: 0px;
	border-color: #90EE90;
}

.caption {
	margin-top: -40px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

#banner {
	display: block;
	margin: auto;
	width: 75%;
	max-width: 1000px;
	height: 20%;
	min-height: 150px;
	max-height: 250px;
}

#manual {
	display: block;
	margin: auto;
	width: 80%;
	height: 80%;
	padding-top: 1%;
	border-style: none;
}

#home-hover {
	display: none;
}

a:hover #home-hover {
	display: block;
	color: red;
}

#profile-hover {
	display: none;
}


a:hover #profile-hover {
	display: block;
	color: green;
}

/* Draft Board CSS */
#overall_draft_board_round {
	width: 75px;
	font-weight: bold;
}

#overall_draft_board_picks {
	table-layout: auto;
}

#by_team_draft_board_round {
	width: 150px;
}

#by_team_draft_board_picks {
	width: 25px;
}
